* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace, Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  background: rgb(71, 71, 71);
  color: #fff;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 1rem;
}


#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar .social-links li a {
  margin: 0 2rem;
  color: #fff
}

#navbar .social-links li a .fa-facebook-square:hover {
  color: blue;
}
#navbar .social-links li a .fa-twitter:hover {
  color: lightblue;
}
#navbar .social-links li a .fa-instagram:hover {
  color: red;
}
#navbar .social-links li a .fa-spotify:hover {
  color: green;
}
#navbar .social-links li a .fa-youtube:hover {
  color: red;
}

#showcase {
  height: 30vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#showcase .showcase-content h2 {
  margin-bottom: 0.5rem;
}